.button {
    text-align: center;
}

.location {
    background: grey;
    color: white;
}


@media only screen and  (min-width : 625px) {
    .card {
        width: 500px;
        height: 500px;
        margin-left: 175px;
    }
}
