.nav-content {
    background-image: url('/images/pvc1.jpg');
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
}

.wrapper {
    position: relative;
    padding-top: 45%; /* Player ratio: 100 / (1280 / 720) */
  }
  
  .player {
    position: absolute;
    top: 0;
    left: 0;

  }

  .player-wrapper {
    width: auto; 
    height: auto; 
  }
  .react-player {
    padding-top: 56.25%; 
    position: relative; 
  }
  
  .react-player > div {
    position: absolute; 
  }